body {
    font-family: sans-serif;
}

header {
    background-color: rgb(0, 255, 255);
    padding: 20px;

}

footer p {
    background-color: aquamarine;
    margin: 20px;
}
nav {
    margin: 20px;
    padding: 10px;
    border: 2px solid lightgray;
}

nav a {
    margin: 60px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(90, 90, 90);

}

header a {
    text-decoration: none;
    padding: 10px;
    margin: 25px;
    border : 2px solid darkblue ;
}
